<h1>Sign in</h1>


<%= simple_form_for :session, url: session_path do |form| %>

	<%= form.input :username %>
	<%= form.input :password %>

	
	<%= form.button :submit, "sign in" %>





<% end %>


<div class="social">

<strong> Log in with ... </strong>


	<%= link_to "facebook", "/auth/facebook" %>
	
	<%= link_to "twitter", "/auth/twitter" %>


	<%= link_to "LinkedIn", "/auth/LinkedIn" %>




</div>